span.icon_bell {
  background: url(../../../../assets/img/icons/bell_white.svg) no-repeat;
  background-size: 1.5em;
  float: left;
  width: 1.9em;
  height: 1.5em;
  margin-top: 2px;
}

span.icon_arrow {
  background: url(../../../../assets/img/icons/arrow_b.svg) no-repeat;
  background-size: 1.5em;
  float: right;
  width: 1.9em;
  height: 1.5em;
  margin-top: 2px;
  margin-left: 21px;
}

span.icon_user {
  background: url(../../../../assets/img/icons/user_white.svg) no-repeat;
  background-size: 1.5em;
  float: left;
  width: 1.9em;
  height: 1.5em;
  margin-top: 2px;
}
