<div class="container-fluid py-1 header">
  <div class="row">
    <div class="col ms-5 ps-5 my-auto">
      <a class="navbar-brand ms-5" href="#"
        ><img src="assets/img/icons/Logos_white.svg"
      /></a>
    </div>
    <div class="col-md-auto px-4 my-auto">
      <span class="icon_bell"></span>
      <span class="sub-title-1 text-neutro-white">Alertas</span>
      <span class="icon_arrow"></span>
    </div>
    <div class="col-md-auto my-auto mx-3">
      <span class="icon_user"></span>
      <span class="sub-title-1 text-neutro-white">Karla Rodríguez</span>
      <span class="icon_arrow"></span>
    </div>
  </div>
</div>
