.btn span.icon {
  background: url(../../../../assets/img/icons/download-white.svg) no-repeat;
  background-size: 1.5em;
  float: left;
  width: 1.9em;
  height: 1.5em;
  margin-left: 55px;
  margin-right: -40px;
  margin-top: 2px;
}
